/* CONTACTO */


.contactoPadre {
	display: flex;
	flex-direction: column;
	
	margin-bottom: 50px;
	align-items: center;
	justify-content: center;
	background-image: url("../img/molinos-paneles.webp");
}
.contacto {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 60%;
}
.campo {
	display: block;
	width: 60%;
	padding: 10px;
	margin: 10px auto;
}
.tamBotonForm {
	width: 60%;
	margin: auto;
}

.email {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

@media (max-width:450px) {
	.email {
		color: white;
		font-size: 15px;
		font-weight: bold;
	}

	.campo {
		width: 80%;
	}

	.tamBotonForm {
		width: 80%;
	}
}
