/* FOOTER */

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
nav {
	ul {
		li {
			display: inline-block;
			list-style-type: none;
			a {
				@include anclas;
				text-decoration: none;
				margin-left: 20px;
			}
		}
	}
}

h4 {
	color:$color_encabezado;
	font-weight: lighter;
}