/* HEADER */
@mixin anclas {
    color: $color_encabezado;
    text-transform: uppercase;
    font-weight: bold;
}

@keyframes texto {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: #507255 solid 2px;
    position: sticky;
    top: 0;
    z-index: 1;

    nav {

        ul {
            li {
                list-style-type: none;

                a {
                    @include anclas;
                    text-decoration: underline;
                    text-shadow: 1px 1px 1px #000;

                    font-size: 1rem;
                }
            }
        }
    }
}

.logo {
    height: 75px;
    width: auto;
    background: none;
}

.inicio {
    color: $color_encabezado;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 1px 1px 1px #000;
}
