/* INICIO */
@media (min-width:350px)  {
.energiaRenovable {
    display: flex;
   flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    background-color: bisque;
}

.tituloRenovable {
    font-size: 30px;
    text-decoration: underline;
}

.parrafoRenovable {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: 3px 3px 10px;
    text-align: center;
}

.energiaFotovoltaica {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: coral;
    height: 1200px;
}

.offgrid {
    height: 60%;
    width: 60%;
}
.tituloFotovoltaica {
    font-size: 25px;
    text-decoration: underline;
    color: darkgreen;
}
}