/* MAIN */

main {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-image: url("../img/molinos-paneles.webp");
	background-size: cover;
}
.textos {
	text-align: center;
	font-size: 20px;
	color: $color_textos;
}