/* NOSOTROS */
.nosotrosPadre {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #507255;
}

.nosotros {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 50px;
    text-decoration: underline;
}

.nosotrosHijo {
    color: black;
    border: 2px solid black;
    font-size: 30px;
    background-color: white;
    border-radius: 4px;
}
