/* PRODUCTOS */
.tamaño {
    height: 25%;
    width: 70%!important;
    margin: auto;
}

.titulosProductos {
    color: seagreen;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000;
}
  
.productos {
    background-color: bisque;
}   
