/* SERVICIOS */

.subtitulos {
	font-weight: bolder;
	text-decoration: underline;
	color: $color_subtitulos;
}
.parrafos {
	font-size: 1.25rem;
}
.servicios {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: $background-color_servicios;
}

