/* SERVICIOS */

.subtitulos {
	font-weight: bolder;
	text-decoration: underline;
	color: $color_subtitulos;
}
.parrafos {
	font-size: 1.25rem;
}
.servicios {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: $background-color_servicios;
}
.cajaPrincipal {
	
	height: 400px;
	padding: 15px;
	display: flex;
	justify-content: space-around;
}
.caja {
	width: 320px;
	height: 320px;
	border-right: 5px solid black;
	padding: 40px;
	font-size: 20px;
}