/* SERVICIOS */

.subtitulos {
	font-weight: bolder;
	text-decoration: underline;
	color: $color_subtitulos;
}
.parrafos {
	font-size: 1.25rem;
}
.servicios {
	display: flex;
	flex-direction: column;
    align-items: center;
	text-align: center;
	background-color: $background-color_servicios;
}

.imageninstalacion {
    height: 300px;
}
.tituloServicios {
	color: $color_titulos;
	font-weight: bold;
    text-shadow: 1px 1px 3px #000;
}

